<img src="src/GetAccountBack.png" usemap="#image-map">
<map name="image-map">
    <area target="" alt="GoBack" title="GoBack" href="Login.html" coords="202,451,255,479" shape="rect">
    <area target="" alt="Confirm" title="Confirm" href="SetNewPassword.html" coords="303,452,370,475" shape="rect">
</map>