<img src="src/SetNewPasswordCarer.png" usemap="#image-map">
<map name="image-map">
     <area target="" alt="Back" title="Back" href="Login.html" coords="199,390,262,414" shape="rect">
    <area target="" alt="Confirm" title="Confirm" href="Login.html" coords="302,391,375,417" shape="rect">
</map>