<img src="src/RegisterCarer.png" usemap="#image-map">
<map name="image-map">
      <area target="" alt="RegisterBack" title="RegisterBack" href="Login.html" coords="194,716,257,742" shape="rect">
      <area target="" alt="RegisterConfirm" title="RegisterConfirm" href="Login.html" coords="335,717,395,743" shape="rect">
</map>