{% load static %}
<!DOCTYPE html>
<!-- <html lang="en"> -->
<head>
<!-- <meta charset="utf-8" /> -->
<title>Calendar</title>
<!-- <meta name="keywords" content="" /> -->
<!-- <meta name="description" content="" /> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- basic styles -->

<link href="/static/calendar/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/calendar/css/font-awesome.min.css" />

<!--[if IE 7]>
  <link rel="stylesheet" href="/static/calendar/css/font-awesome-ie7.min.css" />
<![endif]-->

<!-- page specific plugin styles -->
<link rel="stylesheet" href="/static/calendar/css/fullcalendar.css" />


<!-- ace styles -->
<link rel="stylesheet" href="/static/calendar/css/ace.min.css" />

<!--[if lte IE 8]>
  <link rel="stylesheet" href="/static/calendar/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->
<!--[if lt IE 9]>
<script src="/static/calendar/js/html5shiv.js"></script>
<script src="/static/calendar/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Bar */
.header {
  overflow: hidden;
  background-color: #ffffff;
  height: 95px;
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  right: 0;
}

.header a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar {
  background-color: rgb(152, 108, 235);
  margin-top: 95px;
  margin-left: 8px;
  margin-right: 8px;
  line-height: 18px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search {
  overflow: hidden;

}
.search input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 120px;
  border: none;
  font-size: 17px;
}
.profile{
  float: right;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 28px;
  margin-right: 30px;
  margin-top: 19px;
}
.profile:hover {
  background-color: rgb(152, 108, 235);
  color: rgb(255, 255, 255);
}
.logoff{
  float: right;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 135px;
  margin-top: 14px;
}
.logoff a{
  background-color: #ffffff;
  color: #000000;
}
.logoff a:hover {
  background-color: #ffffff;
  color: rgb(152, 108, 235);
}


@media screen and (max-width: 600px) {
  .search a, .search input[type=text] {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 50px;
    padding: 14px;
  }
  
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}

.main-content{
  margin: -60px 80px;
  width: 82%;
  }
</style>
</head>
<body>


<div class="header">
  <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/getcare2.png' %}" id="logo" height="60px" width="290px" style="position:absolute; left:125px; top:2px"/></a>
  <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/LOGO_01.png' %}" id="logo" height="22px" width="49px" style="position:absolute; left:420px; top:36px"/></a>
  
  <div class="logoff">
    <a href="{% url 'getcare:login' %}">Log Off</a>
  </div> 

  <div class="profile">
    <a href="{% url 'getcare:info' user.key %}">My Profile</a>
  </div> 

</div>

<div class="navbar">
  
  <div class="dropdown">
    <button class="dropbtn"> Tasks 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
      <a href="{% url 'getcare:index' user.key 'COMPLETED' %}">Completed</a>
      <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}">Incomplete</a>
      
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Calendar 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="{% url 'getcare:calendar' user.key 'week' %}">Week View</a>
        <a href="{% url 'getcare:calendar' user.key 'month' %}">Month View</a>

    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Provider 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
      <a href="{% url 'getcare:index' user.key 'CAREPLAN' %}">Care Plan</a>
      <a href="{% url 'getcare:index' user.key 'MEDICATION' %}">Medication</a>
      <a href="{% url 'getcare:index' user.key 'COMMUNICATION' %}">Communication</a>
      <a href="{% url 'getcare:index' user.key 'ACTIVITY' %}">Activity</a>
      <a href="{% url 'getcare:index' user.key 'MEAL' %}">Meal</a>
      <a href="{% url 'getcare:index' user.key 'OTHER' %}">Other</a>
    </div>
  </div> 


  <div class="dropdown">
    <button class="dropbtn">Relations 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:viewRelations' user.key %}">Relations</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Task Template 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:templatelist' user.key 'ALL' %}">Task Template</a>
      <a href="{% url 'getcare:templatelistforme' user.key 'ALL' %}">Task For Me Template</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">To-do List 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:todolist' user.key 'ALL' %}">All</a>
      <a href="{% url 'getcare:todolist' user.key 'COMPLETED' %}">Completed</a>
      <a href="{% url 'getcare:todolist' user.key 'INCOMPLETED' %}">Incomplete</a>
      <a href="{% url 'getcare:todolist' user.key 'CARE' %}">Care Plan</a>
      <a href="{% url 'getcare:todolist' user.key 'MEDICATION' %}">Medication</a>
      <a href="{% url 'getcare:todolist' user.key 'COMMUNICATION' %}">Communication</a>
      <a href="{% url 'getcare:todolist' user.key 'ACTIVITY' %}">Activity</a>
      <a href="{% url 'getcare:todolist' user.key 'MEAL' %}">Meal</a>
      <a href="{% url 'getcare:todolist' user.key 'OTHER' %}">Other</a>
    </div>
  </div> 

  <form action="{% url 'getcare:results' user.key %}" class="search" method="get" >
    {% csrf_token %}
    <input id="search" name="search" type="text" placeholder="Search...">
    <input type="submit" hidden="true">
  </form>

</div>

 <!-- content -->

    <div class="main-container" id="main-container">
      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

      <div class="main-container-inner">


        <div class="main-content">
          <div class="page-content">
              <div style="width:auto;height:100px;margin:auto;position:relative;right:-160px;top:135px;">
                  <form action="" method="post" >
                      {% csrf_token %}
                      <div style="width:120px;height:auto;right:20px; position:absolute">
                          <input type="checkbox" name="taskTypeAct" value="ACTIVITY" {% if "ACTIVITY" in checkbox %} checked {% endif %}> Activity <br>
                          <input type="checkbox" name="taskTypeCar" value="CAREPLAN" {% if "CAREPLAN" in checkbox %} checked {% endif %}> Care <br>
                          <input type="checkbox" name="taskTypeCom" value="COMMUNICATION" {% if "COMMUNICATION" in checkbox %} checked {% endif %}> Communication <br>
                          <input type="checkbox" name="taskTypeMea" value="MEAL" {% if "MEAL" in checkbox %} checked {% endif %}> Meal <br>
                          <input type="checkbox" name="taskTypeMed" value="MEDICATION" {% if "MEDICATION" in checkbox %} checked {% endif %}> Medication <br>
                          <input type="checkbox" name="taskTypeOth" value="OTHER" {% if "OTHER" in checkbox %} checked {% endif %}> Other <br>
                      </div>
                      <div style="width:60px;height:130px;right:86px;position:absolute;top:140px;">
                          <input style="width:120px;height:42px;border:none;border-radius:8px;background-color:rgb(152, 108, 235);color:white" type="submit" value="Submit">
                      </div>
                  </form>
              </div>


                    <div id="calendar" ></div>
                 </div>
                <!-- PAGE CONTENT ENDS -->
           
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        
      </div><!-- /.main-container-inner -->

      
    </div><!-- /.main-container -->

    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script type='text/javascript' src='http://code.jquery.com/jquery-2.0.3.min.js?ver=3.4.2'></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.10.2.min.js?ver=3.4.2'></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script type="text/javascript">
      window.jQuery || document.write("<script src='/static/calendar/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
    </script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='/static/calendar/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
      if("ontouchend" in document) document.write("<script src='/static/calendar/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script src="/static/calendar/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="/static/calendar/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/calendar/js/fullcalendar.min.js"></script>
    <script src="/static/calendar/js/bootbox.min.js"></script>
    

    <!-- inline scripts related to this page -->

    <script type="text/javascript">
            //$(".fc-header-right .fc-button-agendaWeek").click()
            var tasks = {{ tasks|safe }}
            var tasklist = [];
            for(var i=0;i<tasks.length;i++){
              start = new Date(tasks[i]['start']+" "+tasks[i]['start_time']);
              start2 = new Date(start.setHours(start.getHours() +1))
        //console.log(start+"=="+start2)
                tasklist[i] = {id:tasks[i]['id'],title:tasks[i]['title'],classTask:tasks[i]['classTask'],detail:tasks[i]['detail'],start_time:tasks[i]['start_time'], start:new Date(tasks[i]['start']+" "+tasks[i]['start_time']),end:start2,allDay: false}
            }

      jQuery(function($) {

        /* initialize the external events
        -----------------------------------------------------------------*/
        $('#external-events div.external-event').each(function() {

          // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
          // it doesn't need to have a start or end
          var eventObject = {
            title: $.trim($(this).text()) // use the element's text as the event title
          };

          // store the Event Object in the DOM element so we can get to it later
          $(this).data('eventObject', eventObject);

          // make the event draggable using jQuery UI
          $(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
          });
          
        });

        /* initialize the calendar
        -----------------------------------------------------------------*/

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var pn = window.location.pathname;
        var pageType = pn.substring(pn.lastIndexOf('/')+1);
        var viewType;
        if (pageType == 'month') {
          viewType = 'month';
        } else {
          viewType = 'agendaWeek';
        }
        
        var calendar = $('#calendar').fullCalendar({
          buttonText: {
            prev: '<i class="icon-chevron-left"></i>',
            next: '<i class="icon-chevron-right"></i>'
          },

          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek' //month,agendaWeek,agendaDay
          },
          defaultView: viewType, 
          events:tasklist
          ,
          editable: true,
          droppable: true, // this allows things to be dropped onto the calendar !!!
          //droppable: false, // this allows things to be dropped onto the calendar !!!
          drop: function(date, allDay) { // this function is called when something is dropped
          
            // retrieve the dropped element's stored Event Object
            var originalEventObject = $(this).data('eventObject');
            var $extraEventClass = $(this).attr('data-class');
            
            // we need to copy it, so that multiple events don't have a reference to the same object
            var copiedEventObject = $.extend({}, originalEventObject);
            
            // assign it the date that was reported
            copiedEventObject.start = date;
            copiedEventObject.allDay = allDay;
            if($extraEventClass) copiedEventObject['className'] = [$extraEventClass];
            
            // render the event on the calendar
            // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
            $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
            
            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
              // if so, remove the element from the "Draggable Events" list
              $(this).remove();
            }
          }
          ,
          selectable: true,
          selectHelper: true,
          select: function(start, end, allDay) {
                        var form = $("<form class='form-horizontal' action=''>");
            form.append('<div class="form-group"><label class="col-sm-3 control-label no-padding-right" for="title">Change Task Title </label><div class="col-sm-9"><input  name="title" type="text" autocomplete=off id="title" value="" placeholder="Task name" class="col-xs-10 col-sm-10" /></div></div>');
            form.append('<div class="form-group"><label class="col-sm-3 control-label no-padding-right" for="title">Change Task Time </label><div class="col-sm-9"><input  name="start_time" type="time" autocomplete=off id="start_time" value="" placeholder="Task Time" class="col-xs-10 col-sm-10" /></div></div>');
            form.append('<div class="form-group"><label class="col-sm-3 control-label no-padding-right" for="classTask">Change Task Provider </label><div class="col-sm-9"><select class="form-control col-xs-10 col-sm-10" name="classTask" id="classTask">\n' +
                            '<option value="OTHER" >Select the task provider:</option>\n' +
                            '<option value="ACTIVITY" >Thomas Jefferson (Activity Provider)</option>\n' +
                            '<option value="CAREPLAN" >John Tyler (Care Provider)</option>\n' +
                            '<option value="COMMUNICATION" >James Madison (Communication Provider)</option>\n' +
                            '<option value="MEAL">John Adams (Meal Provider)</option>\n' +
                            '<option value="MEDICATION">Andrew Jackson (Medication Provider)</option>\n' +
                            '</select></div></div>');
            form.append('<div class="form-group"><label class="col-sm-3 control-label no-padding-right" for="detail">Change Task Detail </label><div class="col-sm-9"><textarea class="form-control" placeholder="Task Detail" name="detail" id="detail"></textarea></div></div>');
            form.append("</form>");

            var div = bootbox.dialog({
              message: form,
                            title: "New Task Title:",
              buttons: {
                "add" : {
                  "label" : "<i class='icon-ok'></i> ADD Task",
                  "className" : "btn-sm btn-primary",
                  "callback": function() {
                          title = form.find("#title").val();
                          classTask = form.find("#classTask").val();
                          detail = form.find("#detail").val();
                          start_time = form.find("#start_time").val();
                                        console.log('add');
                                        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                                        $.post("{% url 'getcare:calendar' user.key 'month' %}",{'act':'add','start_date':start.getFullYear()+"-"+(start.getMonth()+1)+"-"+start.getDate(),'title':title,'classTask':classTask,'detail':detail,'start_time':start_time,'csrfmiddlewaretoken': csrf},function(data){
                                            alert("Successfully Added");
                                        });
                                        calendar.fullCalendar('renderEvent',
                                            {
                                                title: title,
                                                start: start,
                                                end: end,
                                                allDay: allDay
                                            },
                                            true // make the event "stick"
                                        );
                  }
                } ,
                
              }
            });
            /*bootbox.prompt("New Task Title:", function(title) {
              if (title !== null) {
                  console.log("add");
                  var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                                $.post("{% url 'getcare:calendar' user.key 'month' %}",{'act':'add','start_date':start.getFullYear()+"-"+(start.getMonth()+1)+"-"+start.getDate(),'title':title,'csrfmiddlewaretoken': csrf},function(data) {
                                    alert('添加成功')
                                    calendar.fullCalendar('renderEvent',
                                        {
                                            title: title,
                                            start: start,
                                            end: end,
                                            allDay: allDay
                                        },
                                        true // make the event "stick"
                                    );
                                })

              }
            });*/
            calendar.fullCalendar('unselect');
          }
          ,
          eventClick: function(calEvent, jsEvent, view) {
              console.log(calEvent.classTask)
            var form = $("<form class='form-horizontal' action=''>");
            form.append('<div class="form-group"><label class="col-sm-3 control-label no-padding-right" for="title"> Task Title </label><div class="col-sm-9"><input type=hidden name=\'id\' value="' + calEvent.id + '" /> <input  name="title" type="text" autocomplete=off id="title" value="' + calEvent.title + '" placeholder="Task name" class="col-xs-10 col-sm-10" /></div></div>');
            form.append('<div class="form-group"><label class="col-sm-3 control-label no-padding-right" for="title">Change Task Time </label><div class="col-sm-9"><input  name="start_time" type="time" autocomplete=off id="start_time" value="' + calEvent.start_time + '" placeholder="Task Time" class="col-xs-10 col-sm-10" /></div></div>');
            form.append('<div class="form-group"><label class="col-sm-3 control-label no-padding-right" for="classTask"> Task Provider </label><div class="col-sm-9"><select class="form-control col-xs-10 col-sm-10" name="classTask" id="classTask">\n' +
                            '<option value="OTHER" '+(calEvent.classTask == 'OTHER'?'selected':'')+'>Select the task provider:</option>\n' +
                            '<option value="ACTIVITY" '+(calEvent.classTask == 'ACTIVITY'?'selected':'')+'>Thomas Jefferson (Activity Provider)</option>\n' +
                            '<option value="CAREPLAN" '+(calEvent.classTask == 'CAREPLAN'?'selected':'')+'>John Tyler (Care Provider)</option>\n' +
                            '<option value="COMMUNICATION" '+(calEvent.classTask == 'COMMUNICATION'?'selected':'')+'>James Madison (Communication Provider)</option>\n' +
                            '<option value="MEAL" '+(calEvent.classTask == 'MEAL'?'selected':'')+'>John Adams (Meal Provider)</option>\n' +
                            '<option value="MEDICATION" '+(calEvent.classTask == 'MEDICATION'?'selected':'')+'>Andrew Jackson (Medication Provider)</option>\n' +
                            '</select></div></div>');
            form.append('<div class="form-group"><label class="col-sm-3 control-label no-padding-right" for="detail"> Task Detail </label><div class="col-sm-9"><textarea class="form-control" placeholder="Task Detail" name="detail" id="detail">' + calEvent.detail + '</textarea></div></div>');
            form.append("</form>");
            
            var div = bootbox.dialog({
              message: form,
                            title: "Edit Task Title:",
              buttons: {
                "edit" : {
                  "label" : "<i class='icon-ok'></i> Save Task",
                  "className" : "btn-sm btn-primary",
                  "callback": function() {
                          calEvent.title = form.find("#title").val();
                          calEvent.classTask = form.find("#classTask").val();
                          calEvent.detail = form.find("#detail").val();
                          calEvent.start_time = form.find("#start_time").val();
                                        console.log('modify');
                                        console.log(calEvent);
                                        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                                        $.post("{% url 'getcare:calendar' user.key 'month' %}",{'act':'save','id':calEvent.id,'title':calEvent.title,'classTask':calEvent.classTask,'detail':calEvent.detail,'start_time':calEvent.start_time,'csrfmiddlewaretoken': csrf},function(data){
                                            alert("Successfully Modified");
                                        });
                                        calendar.fullCalendar('updateEvent', calEvent);
                                        div.modal("hide");
                  }
                } ,
               
                "delete" : {
                  "label" : "<i class='icon-trash'></i> Delete Task",
                  "className" : "btn-sm btn-danger",
                  "callback": function() {
                          var id = form.find("input[type=hidden]").val();
                          var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                                        $.post("{% url 'getcare:calendar' user.key 'month' %}",{'act':'delete','id':id,'csrfmiddlewaretoken': csrf},function(data){
                                            alert("Successfully Deleted");
                                        });
                    calendar.fullCalendar('removeEvents' , function(ev){
                        if(ev._id == calEvent._id){
                            console.log("ev")
                            console.log(ev)
                                            }
                      return (ev._id == calEvent._id);
                    })
                  }
                } ,
              }
            });
            
          }
          
        });
      })
    </script>
  
</body>
</html>

