<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Calendar</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="/static/calendar/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/static/calendar/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="/static/calendar/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="/static/calendar/css/fullcalendar.css" />


		<!-- ace styles -->
		<link rel="stylesheet" href="/static/calendar/css/ace.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="/static/calendar/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->
		<!--[if lt IE 9]>
		<script src="/static/calendar/js/html5shiv.js"></script>
		<script src="/static/calendar/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<style>
		.fc-grid .fc-day-number{font-size:18px;}

            /* Bar */
.navbar {
  /*overflow: hidden; */
  background-color:rgb(101,61,176);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
    position: static; /*add*/
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  overflow: hidden;

}
.search input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  border: none;
  font-size: 17px;
}
.profile{
  float:right;
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  .search a, .search input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .search input[type=text] {
    border: 1px solid #ccc;
  }
}
{% load static %}
		</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
  <a href=""{% url 'getcare:index' user.key 'ALL' %}""><img src="{% static 'getcareapp/getcare2.png' %}" id="logo" height="20px" width="90px"/></a>
  <div class="dropdown">
    <button class="dropbtn">All Tasks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:index' user.key 'COMPLETED' %}">Completed</a>
      <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}">Incompleted</a>

    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Calendar
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:calendar' user.key 'week' %}">Week View</a>
      <a href="{% url 'getcare:calendar' user.key 'month' %}">Month View</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Provider
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
      <a href="{% url 'getcare:index' user.key 'CAREPLAN' %}">Care Plan</a>
      <a href="{% url 'getcare:index' user.key 'MEDICATION' %}">Medication</a>
      <a href="{% url 'getcare:index' user.key 'COMMUNICATION' %}">Communication</a>
      <a href="{% url 'getcare:index' user.key 'ACTIVITY' %}">Activity</a>
      <a href="{% url 'getcare:index' user.key 'MEAL' %}">Meal</a>
      <a href="{% url 'getcare:index' user.key 'OTHER' %}">Other</a>
    </div>
  </div>
  <div class="profile">
    <a href="{% url 'getcare:info' user.key %}">My Profile</a>
    <a href="{% url 'getcare:login' %}">LOG OFF</a>

  </div>
  <div class="search">
    <input type="text" placeholder="Search..">
  </div>
</div>
 <!-- content -->

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				
				<div class="main-content">
					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<div class="row">
									<div class="col-sm-9">
										<div class="space"></div>
										<div id="calendar"></div>
									</div>

									<div class="col-sm-3">
										<div class="widget-box transparent">
											<div class="widget-header">
												<h4>Draggable events</h4>
											</div>
											<div class="widget-body">
												<div class="widget-main no-padding">
													<div id="external-events">
														<div class="external-event label-grey" data-class="label-grey">
															<i class="icon-move"></i>
															My Task 1
														</div>

														<div class="external-event label-success" data-class="label-success">
															<i class="icon-move"></i>
															My Task 2
														</div>

														<div class="external-event label-danger" data-class="label-danger">
															<i class="icon-move"></i>
															My Task 3
														</div>

														<div class="external-event label-purple" data-class="label-purple">
															<i class="icon-move"></i>
															My Task 4
														</div>

														<div class="external-event label-yellow" data-class="label-yellow">
															<i class="icon-move"></i>
															My Task 5
														</div>

														<div class="external-event label-pink" data-class="label-pink">
															<i class="icon-move"></i>
															My Task 6
														</div>

														<div class="external-event label-info" data-class="label-info">
															<i class="icon-move"></i>
															My Task 7
														</div>

														<label>
															<input type="checkbox" class="ace ace-checkbox" id="drop-remove" />
															<span class="lbl"> Remove after drop</span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								
</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				
			</div><!-- /.main-container-inner -->

			
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type='text/javascript' src='http://code.jquery.com/jquery-2.0.3.min.js?ver=3.4.2'></script>
		<!-- <![endif]-->
		<!--[if IE]>
		<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.2.min.js?ver=3.4.2'></script>
		<![endif]-->
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='/static/calendar/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->
		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='/static/calendar/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='/static/calendar/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/static/calendar/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="/static/calendar/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/static/calendar/js/fullcalendar.min.js"></script>
		<script src="/static/calendar/js/bootbox.min.js"></script>
		

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			jQuery(function($) {

				/* initialize the external events
				-----------------------------------------------------------------*/
				$('#external-events div.external-event').each(function() {

					// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
					// it doesn't need to have a start or end
					var eventObject = {
						title: $.trim($(this).text()) // use the element's text as the event title
					};

					// store the Event Object in the DOM element so we can get to it later
					$(this).data('eventObject', eventObject);

					// make the event draggable using jQuery UI
					$(this).draggable({
						zIndex: 999,
						revert: true,      // will cause the event to go back to its
						revertDuration: 0  //  original position after the drag
					});
					
				});

				/* initialize the calendar
				-----------------------------------------------------------------*/

				var date = new Date();
				var d = date.getDate();
				var m = date.getMonth();
				var y = date.getFullYear();

				
				var calendar = $('#calendar').fullCalendar({
					buttonText: {
						prev: '<i class="icon-chevron-left"></i>',
						next: '<i class="icon-chevron-right"></i>'
					},
				
					header: {
						left: 'prev,next today',
						center: 'title',
						right: 'month,agendaWeek' //month,agendaWeek,agendaDay
					},
					events: [{
						title: 'All Day Event',
						start: new Date(y, m, 1),
						className: 'label-important'
					},
					{
						title: 'Long Event',
						start: new Date(y, m, d-5),
						end: new Date(y, m, d-2),
						className: 'label-success'
					},
					{
						title: 'Some Event',
						start: new Date(y, m, d-3, 17, 10),
						allDay: false
					}]
					,
					editable: true,
					droppable: true, // this allows things to be dropped onto the calendar !!!
					//droppable: false, // this allows things to be dropped onto the calendar !!!
					drop: function(date, allDay) { // this function is called when something is dropped
					
						// retrieve the dropped element's stored Event Object
						var originalEventObject = $(this).data('eventObject');
						var $extraEventClass = $(this).attr('data-class');
						
						// we need to copy it, so that multiple events don't have a reference to the same object
						var copiedEventObject = $.extend({}, originalEventObject);
						
						// assign it the date that was reported
						copiedEventObject.start = date;
						copiedEventObject.allDay = allDay;
						if($extraEventClass) copiedEventObject['className'] = [$extraEventClass];
						
						// render the event on the calendar
						// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
						$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
						
						// is the "remove after drop" checkbox checked?
						if ($('#drop-remove').is(':checked')) {
							// if so, remove the element from the "Draggable Events" list
							$(this).remove();
						}
					}
					,
					selectable: true,
					selectHelper: true,
					select: function(start, end, allDay) {
						bootbox.prompt("New Task Title:", function(title) {
							if (title !== null) {
								calendar.fullCalendar('renderEvent',
									{
										title: title,
										start: start,
										end: end,
										allDay: allDay
									},
									true // make the event "stick"
								);
							}
						});
						calendar.fullCalendar('unselect');
					}
					,
					eventClick: function(calEvent, jsEvent, view) {
						var form = $("<form class='form-inline'><label>Change Task name &nbsp;</label></form>");
						form.append("<input class='middle' autocomplete=off type=text value='" + calEvent.title + "' /> ");
						form.append("<button type='submit' class='btn btn-sm btn-success'><i class='icon-ok'></i> Save</button>");
						
						var div = bootbox.dialog({
							message: form,
							buttons: {
								"delete" : {
									"label" : "<i class='icon-trash'></i> Delete Task",
									"className" : "btn-sm btn-danger",
									"callback": function() {
										calendar.fullCalendar('removeEvents' , function(ev){
											return (ev._id == calEvent._id);
										})
									}
								} ,
								"close" : {
									"label" : "<i class='icon-remove'></i> Close",
									"className" : "btn-sm"
								} 
							}

						});
						
						form.on('submit', function(){
							calEvent.title = form.find("input[type=text]").val();
							calendar.fullCalendar('updateEvent', calEvent);
							div.modal("hide");
							return false;
						});
						
					}
					
				});
			})
		</script>
	
</body>
</html>
