<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;
  background-color: #6DCCA3;

}
form {
  width: 500px;
    
    border: 15px solid #eeeeee;
    background: white;
    margin: auto;
    
    margin-top:5%;
    height: 80%;
    padding: 20px;
    padding-top: 5%;
    line-height: 160%;
    
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  
  box-sizing: border-box;
  border: 1px solid #A4A4A4;
  
    border-radius: 8px;
    padding-left: 10px;
    margin-left:50%;
    
}
hr {
  border: 1px solid #080202;
  margin-bottom: 25px;
  
}

button {
  background-color: #6DCCA3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 8px;
  
}

button:hover {
  opacity: 0.8;
  
}

</style>
</head>
<body>

<form action="{% url 'getcare:info' user.key %}" method="post"  align="center">
    {% csrf_token %}
    {% if user.relation_code %}
    
      <label style="font-family:verdana;font-weight:bold;font-size:30px;">Your relation code: {{ user.relation_code }}</label><br><br>
    {% endif %}
    <hr> 
    <label style="margin-left:0%;">Your First Name </label>
    <input type="text" name="firstName" value="{{ user.firstName }}" style="width:200px;margin-left:25%;"><br>
    <label style="margin-right:-25%;">Your Last Name </label>
    <input type="text" name="lastName" value="{{ user.lastName }}" style="width:200px;"><br>
    <label style="margin-right:-23%;">New Password </label>
    <input type="password" name="password" value="" style="width:200px;"><br>
    <label style="margin-right:-10%;" >Email </label>
    <input type="text" name="email" value="{{ user.email }}" style="width:200px;"><br>
    <label style="margin-right:-11%;">Phone </label>
    <input type="text" name="phone" value="{{ user.phone }}" style="width:200px;"><br>
    {% if user.relation_code %}
    {% else %}
    
    <label>Carer Relation Code ({{ user.carer.firstName }} {{ user.carer.lastName }})</label>
    <input type="text" name="carerCode" value="{{ user.carer.relation_code }}" style="width:200px;"> <br>
    <label>Care Provider Code ({{ user.careProvider.firstName }} {{ user.careProvider.lastName }}) </label>
    <input type="text" name="careCode" value="{{ user.careProvider.relation_code }}" style="width:200px;"> <br>
    <label>Medication Provider Code ({{ user.medicationProvider.firstName }} {{ user.medicationProvider.lastName }})</label>
    <input type="text" name="medicationCode" value="{{ user.medicationProvider.relation_code }}" style="width:200px;"><br>
    <label>Communication Provider Code ({{ user.communicationProvider.firstName }} {{ user.communicationProvider.lastName }}) </label>
    <input type="text" name="communicationCode" value="{{ user.communicationProvider.relation_code }}" style="width:200px;"><br>
    <label>Activity Provider Code ({{ user.activityProvider.firstName }} {{ user.activityProvider.lastName }}) </label>
    <input type="text" name="activityCode" value="{{ user.activityProvider.relation_code }}" style="width:200px;"><br>
    <label>Meal Provider Code ({{ user.mealProvider.firstName }} {{ user.mealProvider.lastName }})</label>
    <input type="text" name="mealCode" value="{{ user.mealProvider.relation_code }}" style="width:200px;"><br>
    {% endif %}
    <div>
      <div><button type="submit" style="width:200px;">OK</button></div>
      <div id="back"><button type="button" onclick="history.back()" style="width:200px;">Back</button></div>
    </div>
    
</form>

</form>
</body>
</html>
