{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    /* Bar */
.header {
  overflow: hidden;
  background-color: #ffffff;
  height: 95px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: rgb(152, 108, 235);
  margin-top: 95px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  overflow: hidden;

}
.search input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 120px;
  border: none;
  font-size: 17px;
}
.profile{
  float: right;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 28px;
  margin-right: 30px;
  margin-top: 37px;
}
.profile:hover {
  background-color: rgb(152, 108, 235);
  color: rgb(255, 255, 255);
}
.logoff{
  float: right;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 135px;
  margin-top: 37px;
}
.logoff a{
  background-color: #ffffff;
  color: #000000;
}
.logoff a:hover {
  background-color: #ffffff;
  color: rgb(152, 108, 235);
}


@media screen and (max-width: 600px) {
  .search a, .search input[type=text] {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 50px;
    padding: 14px;
  }
  
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}

  body {font-family: Arial, Helvetica, sans-serif;}
  body {text-align: center} 
  
  .new-task{
    font-size: 40px;
        text-align: center;
        margin-top:200px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      font-weight: bold;
    }
  .task-title{
        text-align: left;
        margin-top:370px;
        margin-left: 25%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .custom-select{
        margin-top:300px;
        margin-left: 25%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .custom-template{
      background-color: #eae2fa;
    }

    /* .custom-select-frequency{
        margin-top:440px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    } */

    .task-date{
        margin-top:640px;
        margin-left: 25%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .task-input{
        margin-top:720px;
        margin-left: 25%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }
    .task-submit{
      margin-top:1170px;
      margin-left: 27%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      height: 40px;
      width: 90px;
    }
    .task-upload{
      margin-top:1120px;
      margin-left: 23%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 250;
      bottom: 0;
      height: 40px;
      width: 90px;
    }
    .task-back{
      background-color: black;
      margin-top:330px;
      margin-left: 77.5%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
    }

    .task-back a {
      display: block;
    }

    bottom_button {
      background-color: rgb(152, 108, 235);
      text-align: center;
      color: white;
      padding: 10px 10px;
      cursor: pointer;
      width: 100px;
      border-radius: 8px;
    }

    bottom_button:hover {
      opacity: 0.8;
    }

    </style>
        
</head>
<body>
  <div class="header">
    <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/getcare2.png' %}" id="logo" height="60px" width="290px" style="position:absolute; left:125px; top:20px"/></a>
    <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/LOGO_01.png' %}" id="logo" height="22px" width="49px" style="position:absolute; left:420px; top:54px"/></a>
    
    <div class="logoff">
      <a href="{% url 'getcare:login' %}">Log Off</a>
    </div> 
  
    <div class="profile">
      <a href="{% url 'getcare:info' user.key %}">My Profile</a>
    </div> 
  
  </div>
  
  <div class="navbar">
    
    <div class="dropdown">
      <button class="dropbtn"> Tasks 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:index' user.key 'COMPLETED' %}">Completed</a>
        <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}">Incomplete</a>
        
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Calendar 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
          <a href="{% url 'getcare:calendar' user.key 'week' %}">Week View</a>
          <a href="{% url 'getcare:calendar' user.key 'month' %}">Month View</a>
  
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Provider 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:index' user.key 'CAREPLAN' %}">Care Plan</a>
        <a href="{% url 'getcare:index' user.key 'MEDICATION' %}">Medication</a>
        <a href="{% url 'getcare:index' user.key 'COMMUNICATION' %}">Communication</a>
        <a href="{% url 'getcare:index' user.key 'ACTIVITY' %}">Activity</a>
        <a href="{% url 'getcare:index' user.key 'MEAL' %}">Meal</a>
        <a href="{% url 'getcare:index' user.key 'OTHER' %}">Other</a>
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Relations 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:viewRelations' user.key %}">Relations</a>
  
      </div>
    </div> 

    <div class="dropdown">
      <button class="dropbtn">Task Template 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:templatelist' user.key 'ALL' %}">Task Template</a>
        <a href="{% url 'getcare:templatelistforme' user.key 'ALL' %}">Task For Me Template</a>
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">To-do List 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:todolist' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:todolist' user.key 'COMPLETED' %}">Completed</a>
        <a href="{% url 'getcare:todolist' user.key 'INCOMPLETED' %}">Incomplete</a>
        <a href="{% url 'getcare:todolist' user.key 'CARE' %}">Care Plan</a>
        <a href="{% url 'getcare:todolist' user.key 'MEDICATION' %}">Medication</a>
        <a href="{% url 'getcare:todolist' user.key 'COMMUNICATION' %}">Communication</a>
        <a href="{% url 'getcare:todolist' user.key 'ACTIVITY' %}">Activity</a>
        <a href="{% url 'getcare:todolist' user.key 'MEAL' %}">Meal</a>
        <a href="{% url 'getcare:todolist' user.key 'OTHER' %}">Other</a>
      </div>
    </div> 
  
    <form action="{% url 'getcare:results' user.key %}" class="search" method="get" >
      {% csrf_token %}
      <input id="search" name="search" type="text" placeholder="Search...">
      <input type="submit" hidden="true">
    </form>
  
  </div>

    <!-- <div>
        <label tyle="margin-left: 14px; font-size:40px">New Task</label>
        </div> -->
      <!-- <h1>New Task</h1> -->
      <form action="{% url 'getcare:newtask' user.key %}" method="post">
          {% csrf_token %}
        <div class="new-task" style="height: 30px; width: 60%;">New Task</div>
        <div class="task-title" style="height: 30px; width: 60%;text-align: left;">
          <label for='title' style="margin-left: 45px;text-align: left;">Title</label>  
          <input type="text" style="width:54%;height:30px; margin-left: 70px;text-align: left;border-radius: 8px; border-width: 1px" id="id-title" name="title" required><br>
        </div>

        <div class="custom-select" id = "task-type" style="text-align: left;width: 70%; height: 30px;">
          <label for='template' style="margin-left: 44px;">Template</label> 
          <select class='custom-template' style="width:47%;height:35px; margin-left: 36px; padding-left: 5px;border-radius: 8px; border-width: 1px" id = "id-task-template" name = "taskTemplate" onchange="useTemplates();">
            {% if templates %}
              <option value="">(Not using a template)</option>
              {% for template in templates %}
              <option value="{{template.id}}">{{template.name}}</option> <!-- value should be provider -->
              {% endfor %}
            {% else %}
            <option value="">You have no task templates.</option>
            {% endif %}
          </select>
          <br>
          <br>
          <label for='type' style="margin-left: 45px;">Provider</label> 
          <select  style="width:47.2%;height:35px; margin-top:90px ;margin-left: 40px; padding-left: 5px;border-radius: 8px;border-width: 1px;" id="id-classTask" name = "classTask" required>
            {% if relations %}
              <option value="">Select the provider:</option>
              {% for relation in relations %}

              <option value="{{relation.provider.id}}" {% if relation.provider.id == provider  %} selected {% endif %}>{{relation.provider.firstName}} {{relation.provider.lastName}} -- {{relation.provider.jobType}}</option> <!-- value should be provider -->
              {% endfor %}
            {% else %}
            <option value="">You have no providers. Please add a provider</option>
            {% endif %}
          </select>
          <br>
          <br>
          <clearall></clearall>
          <label for='type' style="margin-left: 45px;">Senior   </label> 
          <select  style="width:47.2%;height:35px; margin-left: 54px; margin-top: 18px; padding-left: 5px;border-radius: 8px;border-width: 1px;" id="id-selectSenior" name = "selectSenior" required>
            {% if relationsTwo %}
              <option value="">Select the Senior:</option>
              {% for relationTwo in relationsTwo %}
              <option value="{{relationTwo.senior.id}}">{{relationTwo.senior.firstName}} {{relationTwo.senior.lastName}}</option> <!-- value should be senior -->
              {% endfor %}
            {% else %}
            <option value="">You have no Seniors. Please add a Senior</option>
            {% endif %}
          </select>
          <br>
          <br>
          <label for='type' style="width:56%;height:35px; margin-left: 45px;">Frequency</label> 
          <select  style="width:47.2%;height:35px; margin-left: 25px; margin-top: 18px; padding-left: 5px;border-radius: 8px;border-width: 1px;" id="id-task-frequency" name="task-frequency" required onChange="ifDateRange();">
            <option value="">Select task frequency:</option>
            <option value="Once">One Time</option>
            <option value="Week">Weekly</option>
            <option value="Month">Monthly</option>
          </select>
        </div>

        <!-- <div class="custom-select-frequency" id = "task-frequency" style="text-align: left;width: 70%;height: 30px;">
          <label for='type' style="margin-left: 25px;">Task Frequency</label> 
          <select  style="width:55%;height:35px; margin-left: 25px;" id="id-task-frequency" name="task-frequency" required onChange="ifDateRange();">
            <option value="">Select task frequency:</option>
            <option value="Once">One Time</option>
            <option value="Week">Weekly</option>
            <option value="Month">Monthly</option>
          </select>
        </div> -->

        <div class="task-date"  style="text-align: left;width: 60%;">
        <label for='date' style="margin-left: 45px;">Date</label>
        <input type="date" name="date" style="width:24%; height:33px;margin-left: 66px; margin-top: 15px; text-align: left; padding-left: 5px;border-radius: 8px;border-width: 1px;" required>
        <label for='date' style="margin-left: 15px; ">–</label>
        <input type="date" name="end-date" id="id-end-date" style="width:24%; height:33px;margin-left: 14px;text-align: left;padding-left: 5px;border-radius: 8px;border-width: 1px;"><br>
        <p></p>
        <label for='date' style="margin-left: 45px;">Time</label>
        <input type="time" id="id-time" name="time" style="background-color:white; border-width: 1px; height:35px;margin-top: 18px;margin-left: 66px;text-align: left; width: 24%; padding-left: 5px;border-radius: 8px;border-width: 1px;"><br>
        </div>

        <div class="task-input"  style="text-align: left; width: 47.5%; margin-top: 809px;">
          <label for='detail' style="margin-left: 45px; ">Details</label>
          <textarea rows=30% cols=100% id="id-detail" name="detail" style="background-color:#ddd; border-width: 1px; margin-top: -23px;margin-left: 148px;text-align: left;width: 70%;height: 300px;border-radius: 8px;border-width: 1px;">{{task.detail}}</textarea><br>
        
          <!-- <button class="task-submit" type="submit" value="Submit" style="margin-top: 360px; margin-left: 166px;">Submit</a></button> -->
          <button class="task-submit" type="submit" value="Submit" style="margin-top: 330px; margin-left: 150px;background-color: rgb(152, 108, 235); text-align: center; color: white; width: 100px; height: 40px; border-radius: 8px; cursor: pointer; border:none; font-size: 16px;">Submit</a></button>
          <bottom_button class = "task-back"style="width: 86px; height: 20px;"><a href="{% url 'getcare:index' user.key 'ALL' %}" style="text-decoration: none; color: white;">Back</a></bottom_button>
    
      <!-- <form method="post" enctype="multipart/form-data" action="{% url 'getcare:uploadcsv' user.key %}">
        <input class="task-upload" type="file" id="CSVUpload" name="newTaskCSV" value="Upload CSV" style="margin-top: 330px; margin-left: 148px;">
        <input type="submit" name="tasksCSV" id="tasksCSV" style="margin-top: 25px; margin-left: 67%;width: 70px;"> -->
        {% csrf_token %}

        <div style=" height:150px " ></div>

      </form>    

      <script type="text/javascript">
        function ifDateRange() {
          var frequencySelect = document.getElementById("id-task-frequency");
          var idx = frequencySelect.selectedIndex;
          var value = frequencySelect.value;
  
          var endDate = document.getElementById("id-end-date");
  
         if (idx > 1) { // Weekly or Monthly
          endDate.disabled = false;
          endDate.required = true;
         } else {
           endDate.disabled = true;
           endDate.required = false;
         }
        }

        function useTemplates(){
          // get templates
          // var ts = '{{jstemplates}}';
          var ts = JSON.parse("{{jstemplates|escapejs}}");
          var templateSelect = document.getElementById("id-task-template");
          var templateID = templateSelect.value;

          // console.log(ts);

          // get other fields
          var titleInput = document.getElementById("id-title");
          var providerSelect = document.getElementById("id-classTask");
          var seniorSelect = document.getElementById("id-selectSenior");
          var frequencySelect = document.getElementById("id-task-frequency");
          var timeInput = document.getElementById("id-time");
          var detailInput = document.getElementById("id-detail");


          if (templateID != '') {
            for (let t of ts) {
              // console.log(t);
              if (t.pk == templateID) {
                titleInput.value = t.fields.title;
                providerSelect.value = t.fields.provider;
                // console.log(t.fields.provider);
                seniorSelect.value = t.fields.user;
                frequencySelect.selectedIndex = t.fields.frequency+1;
                timeInput.value = t.fields.start_time;
                detailInput.value = t.fields.detail;
                ifDateRange();
              }
            }
          }

        }
        </script>
</body>
</html>