{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
/* Bar */
.header {
  overflow: hidden;
  background-color: #ffffff;
  height: 95px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: #6DCCA3;
  margin-top: 95px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  overflow: hidden;

}
.search input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 120px;
  border: none;
  font-size: 17px;
}
.profile{
  float: right;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 28px;
  margin-right: 30px;
  margin-top: 37px;
}
.profile:hover {
  background-color: #6DCCA3;
  color: rgb(255, 255, 255);
}
.logoff{
  float: right;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 135px;
  margin-top: 37px;
}
.logoff a{
  background-color: #ffffff;
  color: #000000;
}
.logoff a:hover {
  background-color: #ffffff;
  color: #6DCCA3;
}


@media screen and (max-width: 600px) {
  .search a, .search input[type=text] {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 50px;
    padding: 14px;
  }
  
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}

  body {font-family: Arial, Helvetica, sans-serif;
  }
  body {text-align: center
  } 
  
  .new-todo{
    
    font-size: 40px;
        text-align: center;
        margin-top:200px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      font-weight: bold;
    }
  .todo-title{
    text-align: left;
        margin-top:300px;
        margin-left: 25%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
      
    }

    .custom-select-task{
      
        margin-top:370px;
        margin-left: 25%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .custom-select-type{
      margin-top:440px;
      margin-left: 25%;
      position: absolute;
      top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

    .todo-date{
        margin-top:510px;
        margin-left: 25%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .todo-input{
        margin-top:643px;
        margin-left: 25%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }
    .todo-submit{
      margin-top:360px;

      margin-left: 160px;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      height: 40px;
      background-color: #6DCCA3;
      color: #ffffff;
      border-radius: 8px;
      text-align: center;
      border:none;
      padding: 10px 10px;
      cursor: pointer;
      width: 100px;
      
    }
    /* .task-upload{
      margin-top:1120px;
      margin-left: 23%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 250;
      bottom: 0;
      height: 40px;
      width: 90px;
    } */

    /*.task-back{
      background-color: black;
      margin-top:330px;
      margin-left: 77.5%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
    }

    .task-back a {
      display: block;
    }

    bottom_button {
      background-color: #6DCCA3;
      text-align: center;
      color: white;
      padding: 10px 10px;
      cursor: pointer;
      width: 100px;
      border-radius: 8px;
      
    }
    bottom_button:hover {
      opacity: 0.8;
    }*/
    </style>
        
</head>
<body>
  <div class="header">
    <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/getcare2.png' %}" id="logo" height="60px" width="290px" style="position:absolute; left:125px; top:20px"/></a>
    <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/LOGO_01.png' %}" id="logo" height="22px" width="49px" style="position:absolute; left:420px; top:54px"/></a>
    
    <div class="logoff">
      <a href="{% url 'getcare:login' %}">Log Off</a>
    </div> 
  
    <div class="profile">
      <a href="{% url 'getcare:info' user.key %}">My Profile</a>
    </div> 
  
  </div>
  
  <div class="navbar">
    
    <div class="dropdown">
      <button class="dropbtn"> Tasks 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:index' user.key 'COMPLETED' %}">Completed</a>
        <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}">Incomplete</a>
        
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Calendar 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
          <a href="{% url 'getcare:calendar' user.key 'week' %}">Week View</a>
          <a href="{% url 'getcare:calendar' user.key 'month' %}">Month View</a>
  
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Provider 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:index' user.key 'CAREPLAN' %}">Care Plan</a>
        <a href="{% url 'getcare:index' user.key 'MEDICATION' %}">Medication</a>
        <a href="{% url 'getcare:index' user.key 'COMMUNICATION' %}">Communication</a>
        <a href="{% url 'getcare:index' user.key 'ACTIVITY' %}">Activity</a>
        <a href="{% url 'getcare:index' user.key 'MEAL' %}">Meal</a>
        <a href="{% url 'getcare:index' user.key 'OTHER' %}">Other</a>
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Relations 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:viewRelations' user.key %}">Relations</a>
  
      </div>
    </div> 

    <div class="dropdown">
      <button class="dropbtn">Task Template 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:templatelist' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:templatelist' user.key 'CARE' %}">Care Plan</a>
        <a href="{% url 'getcare:templatelist' user.key 'MEDICATION' %}">Medication</a>
        <a href="{% url 'getcare:templatelist' user.key 'COMMUNICATION' %}">Communication</a>
        <a href="{% url 'getcare:templatelist' user.key 'ACTIVITY' %}">Activity</a>
        <a href="{% url 'getcare:templatelist' user.key 'MEAL' %}">Meal</a>
        <a href="{% url 'getcare:templatelist' user.key 'OTHER' %}">Other</a>
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">To-do List 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:todolist' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:todolist' user.key 'COMPLETED' %}">Completed</a>
        <a href="{% url 'getcare:todolist' user.key 'INCOMPLETED' %}">Incomplete</a>
        <a href="{% url 'getcare:todolist' user.key 'CARE' %}">Care Plan</a>
        <a href="{% url 'getcare:todolist' user.key 'MEDICATION' %}">Medication</a>
        <a href="{% url 'getcare:todolist' user.key 'COMMUNICATION' %}">Communication</a>
        <a href="{% url 'getcare:todolist' user.key 'ACTIVITY' %}">Activity</a>
        <a href="{% url 'getcare:todolist' user.key 'MEAL' %}">Meal</a>
        <a href="{% url 'getcare:todolist' user.key 'OTHER' %}">Other</a>
      </div>
    </div> 
  
    <form action="{% url 'getcare:results' user.key %}" class="search" method="get" >
      {% csrf_token %}
      <input id="search" name="search" type="text" placeholder="Search...">
      <input type="submit" hidden="true">
    </form>
  
  </div>
  

    <!-- <div>
        <label tyle="margin-left: 14px; font-size:40px">New Task</label>
        </div> -->
      <!-- <h1>New Task</h1> -->
      <form action="{% url 'getcare:newtodo' user.key %}" method="post">
        {% csrf_token %}
          <!-- <h1>New Task</h1> -->
        <div class = "new-todo" style="height: 30px; width: 60%;">New Todo</div>

        <div class = "todo-title" style="height: 30px; width: 70%;text-align: left;">
          <label for='title' style="margin-left: 45px;text-align: left;">Todo Title</label>  
          <input type="text" style="width:46%;height:32px; margin-left: 36px;text-align: left;border-radius: 8px;border-width: 1px;padding-left: 5px;" name="title"><br>
        </div>

        <div class="custom-select-task" id = "related-task" style="text-align: left;width: 70%;height: 30px;">
          <label for='type' style="margin-left: 45px;">Related Task</label> 
          <select  style="width:47%;height:35px; margin-left: 14px;border-radius: 8px; border-width: 1px;" id="id-related-task" name="related-task" required onChange="determineTodoType();">
            {% if Tasks %}
              <option value="">Select related task:</option>
              <option value="satodo">-- This is an independent Todo --</option>
              {% for task in Tasks %}
              <option value="{{task.id}}">{{task.start_date}} / {{task.title}} / {{task.provider.firstName}} {{task.provider.lastName}}</option> <!-- value should be provider -->
              {% endfor %}
            {% else %}
            <option value="">You have no tasks</option>
            <option value="satodo">-- This is an independent Todo --</option>
            {% endif %}
          </select>
        </div>

        <div class="custom-select-type" id = "todo-type" style="text-align: left;width: 70%;height: 30px;">
          <label for='type' style="margin-left: 45px;">Todo Type</label> 
          <select  style="width:47%;height:35px; margin-left: 35px;padding-left: 5px; border-radius: 8px;border-width: 1px;" id="id-todo-type" name = "todo-type" disabled>
            <option value="">Select task type:</option>
            <option value="CAREPLAN">Care Plan</option>
            <option value="MEDICATION">Medication</option>
            <option value="COMMUNICATION">Communication</option>
            <option value="ACTIVITY">Activity</option>
            <option value="MEAL">Meal</option>
            <option value="OTHER">Other</option>
          </select>
        </div>

        <div class="todo-date"  style="text-align: left;width: 60%;">
        <label for='date' style="margin-left: 45px;">Todo Date</label>
        <input type="date" name="date" style="width:24%; height:33px;margin-left: 38px;text-align: left;padding-left: 5px; border-radius: 8px; border-width: 1px;" required><br>
        <p></p>
        <label for='date' style="margin-left: 45px;margin-top:30px;">Todo Time</label>
        <input type="time" name="time" style="margin-top:17px;height:33px;background-color:#ddd;padding-left: 5px; border-radius: 8px; border-width: 1px;  height:35px;margin-left: 38px;text-align: left; width: 24%;"><br>
        </div>

        <div class="todo-input"  style="text-align: left; width: 47.5%;">
          <label for='detail' style="margin-top:17px;margin-left: 45px; ">Todo Details</label>
          <textarea rows=30% cols=100% name="detail" style="margin-top:17px;background-color:#ddd; border-width: 1px; border-radius:8px;margin-top: -20px;margin-left: 159px;text-align: left;width: 70%;height: 300px;">{{todo.detail}}</textarea><br>
      
           <!--<button class="task-submit" type="submit" value="Submit" style="margin-top: 330px; margin-left: 150px;background-color: #6DCCA3; text-align: center; color: white; width: 100px; height: 40px; border-radius: 8px; cursor: pointer; border:none; font-size: 16px;">Submit</a></button>
          <bottom_button class = "task-back"style="width: 86px; height: 20px;"><a href="{% url 'getcare:index' user.key 'ALL' %}" style="text-decoration: none; color: white;">Back</a></bottom_button>
          <div style=" height:150px " ></div>-->

          <input class="todo-submit" type="submit" value="Submit" style="font-size: 16px;"></input>
          <div style=" height:150px " ></div>
        </div>
      </form>

      <script type="text/javascript">
      function determineTodoType() {
        var taskSelect = document.getElementById("id-related-task");
        var idx = taskSelect.selectedIndex;// 0 for default, 1 for independent todo
        var v = taskSelect.value;// task id
        // console.log(v);
        
        var todoType = document.getElementById("id-todo-type");

        if (idx <= 1) {
          todoType.disabled = false;
          todoType.required = true;
        } else {
          todoType.disabled = true;
          todoType.selectedIndex = 0;
          todoType.required = false;
        }
      }
      </script>
</body>
</html>