{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
     /* Bar */
     .navbar {
      overflow: hidden;
      background-color: rgb(152, 108, 235);
    }   

    .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  overflow: hidden;

}
.search input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  border: none;
  font-size: 17px;
}
.profile{
  float:right;
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  .search a, .search input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}

.task-detail{
    font-size: 34px;
        text-align: left;
        margin-top:70px;
        margin-left: 21%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      font-weight: bold;
    }
    .task-title{
        text-align: left;
        margin-top:120px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .task-date{
        margin-top:170px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }
    
    .task-input{
        margin-top:220px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
       
    }
    .task-submit{
      margin-top:620px;
      margin-left: 2%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      height: 20px;
    }

    .task-back{
      margin-top:620px;
      margin-left: 87%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      height: 20px;
    }

    .task-date .date-control{
      float:left;
      width:60%
    }

    .task-date .time-control{
      float:right
    }
    
        body {font-family: Arial, Helvetica, sans-serif;}
        body {text-align: center} 

    /*sidenav styles*/
html, body, .sidenav {
    height: 100%;
} 
.sidenav .four.columns { 
    background: rgb(237,229,255);
    height: 100%;
    width: 15%;
    position:fixed;
    overflow:auto;
    text-align: left;
    font-family: inherit;
    font-size: 20px; 
}
.sidenav .four.columns ul,
.sidenav .four.columns ul li{
    /* margin: 0px; */
    margin-left: -5%;
    /* text-align: center; */
    list-style-type:none;
}
.sidenav .four.columns ul li a{
    margin-left: 10%;
    display: block;
    line-height: 49px;
    padding: 0px 0px;
    color:black;
    font-family: inherit;
    /* text-transform: uppercase; */
    text-decoration: none;
    
    letter-spacing: 0.08em;
}
.sidenav .four.columns ul li a:hover{
    margin-left: 0%;
    margin-right: 10%;
    border-bottom: none;
    background:rgb(152, 108, 235);
    color: white;
    cursor: pointer;
}

        
    </style>
</head>
<body>
      <!-- navbar -->
      <div class="navbar">
            <a href="{% url 'getcare:index' user.key 'ALL' %}"><img src="{% static 'getcareapp/getcare2.png' %}" id="logo" height="20px" width="90px"/></a>
            <div class="dropdown">
              <button class="dropbtn">All Tasks 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="{% url 'getcare:index' user.key 'COMPLETED' %}">Completed</a>
                <a href="{% url 'getcare:index' user.key 'INCOMPLETE' %}">Incomplete</a>
                
              </div>
            </div> 
            <div class="dropdown">
              <button class="dropbtn">Calendar 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Week View</a>
                <a href="#">Month View</a>
              </div>
            </div> 
          
            <div class="dropdown">
              <button class="dropbtn">Provider 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
                <a href="{% url 'getcare:index' user.key 'CAREPLAN' %}">Care Plan</a>
                <a href="{% url 'getcare:index' user.key 'MEDICATION' %}">Medication</a>
                <a href="{% url 'getcare:index' user.key 'COMMUNICATION' %}">Communication</a>
                <a href="{% url 'getcare:index' user.key 'ACTIVITY' %}">Activity</a>
                <a href="{% url 'getcare:index' user.key 'MEAL' %}">Meal</a>
                <a href="{% url 'getcare:index' user.key 'OTHER' %}">Other</a>
              </div>
            </div> 
            <div class="profile">
              <a href="{% url 'getcare:login' %}">LOG OFF</a>
            </div>
            <div class="search">
              <input type="text" placeholder="Search..">
            </div>
          </div>
        <!-- {% if task %} -->
         <!-- side navbar -->
    <aside class="sidenav">
        <div class="four columns">
          <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">My Profile</a></li>
          <li><a href="#">Calendar</a></li>
          <li><a href="#">Tasks</a></li>
          <li><a href="#">Note</a></li>
         
          </ul>
        </div> 
      </aside> 
      <!-- side navbar -->
    
        <form action="{% url 'getcare:viewtask' user.key task.id %}" method="post">
          {% csrf_token %}
          <div class = "task-detail" style="height: 25px; width: 60%;">Task details</div>
            <div class = "task-title" style="height: 25px; width: 60%;">
                <label for='title' style="margin-left: 16px;">Task Title</label>
                <input type="text" name="title" value= "{{task.title}}" style="background-color:#ddd; border: none;margin-left: 14px;width: 80%; height: 26px;"><br>
            </div>

            <div class="task-date" style="text-align: left;width: 60%;">
              <div class= "date-control" >
                <label for='date' style="margin-left: 16px;">Task Date</label>
                <input type="date" name="date" style="background-color:#ddd; border: none; height:26px;margin-left: 12px;text-align: left; width: 27%;" value={{task.start_date|date:"c"}}><br>
             
                <br>
                <label for='date' style="margin-left: 16px;">Task Time</label>
                <input type="time" name="time" style="background-color:#ddd; border: none;  height:26px;margin-left: 12px;text-align: left; width: 27%;" value={{task.start_time|date:"c"}}><br>
              </div>  
               
                <label style="margin-left: 170px;">Finished</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="finish" value="finished" s><br>
                <br> 
                <label style="margin-left: 170px;">Delete?</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="delete" value="deleted" ><br>
                <br> 
                <br>
                <br>

              <label for='detail' style="margin-left: 16px; margin-top:20px;">Task Details</label>
                <textarea rows=30% cols=100% name="detail" style="background-color:#ddd; border: none;margin-top: 10px;margin-left: 14px;text-align: left;width: 90%;height: 40%;">{{task.detail}}</textarea><br>
                <br>
              <label for='comments' style="margin-left: 16px; margin-top:20px;">Comment</label>
                <textarea rows=30% cols=100% name="comments" style="background-color:#ddd; border: none;margin-top: 10px;margin-left: 14px;text-align: left;width: 90%;height: 20%;">{{task.comments}}</textarea><br>
                <input type="submit" value="Submit" class = "task-submit"></input>
                <button class = "task-back"><a href="{% url 'getcare:index' user.key 'ALL' %}">Back</a></button>
              </div>

   
            
      
                

 
            
      
          </form>
            

        
        
    <!-- {% else %} -->
    <!-- <p>No Task are available</p> -->
    <!-- {% endif %} -->
</body>
</html>


