<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6DCCA3;
}

* {
  box-sizing: border-box;
}


.container {
  padding: 16px;
  background-color: white;
  width: 600px;
  border: 10px solid #eeeeee;
  margin: auto;
}


input[type=text], input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 15px 0 20px 0;
  display: block;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
  padding-left: 10px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  margin: 15px 0 20px 0;
  border: none;
  border-radius: 8px;
  padding-left: 15px;
}


hr {
  border: 1px solid #080202;
  margin-bottom: 25px;
  
}


.registerbtn {
  background-color: #6DCCA3;
  color: white;
  padding: 15px 30px;
  

  border: none;
  cursor: pointer;
  width: 700;
  opacity: 0.9;
  font-size: 20px;
  text-align:center;

  margin: 20px 0 22px 0;
  margin-left: 38%;
  border-radius: 8px;
    
    
}

.registerbtn:hover {
  opacity: 1;
}


a {
  color: dodgerblue;

}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}
#myDIV {
  background-color: #f1f1f1;
  width: 100%;
  border: none;
  padding: 12px;
  position: relative;
  border-radius: 8px;
}
.custom-select {
  position: relative;
  font-family: Arial;
  
}

.custom-select select {
  display: none; 
  
}

.select-selected {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding-left: 10px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}


.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}


.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
</head>
<body>


<form action="{% url 'getcare:register' %}" method="post" onsubmit="return someFunction()">
  {% csrf_token %}
  <div class="container">
   

    
   <h1 style="font-family:verdana">Welcome! </h1>
<p style="font-family:arial;color:rgb(46, 30, 30);font-size:20px;">Please fill in this form to create an account.</p>
  <hr>  
    
    <label for='FirstName' style="margin-left: 30px;"><b>First Name</b></label>
    <input type="text" name="FirstName" required style="width:240px;margin-left:48%; margin-top:-30px;"><br>

    <label for='LastName' style="margin-left: 30px;"><b>Last Name</b></label>
    <input type="text" name="LastName" required  style="width:240px;margin-left:48%; margin-top:-30px;"><br>

    <label for='Choose your gender' style="margin-left: 30px;"><b>Choose your gender</b></label>
    <fieldset id = "myDIV"  style="width:240px; margin-left:48%;margin-top:-30px;">
      <input class = "myDiv" type="radio" name="gender" id="male" value="male"  checked  style="width:30px;">
        <label for="male" >Male</label>
        <input type="radio" name="gender" id="female" value="female">
        <label for="female">Female</label>
    </fieldset> 

    <div style=" height:40px " ></div>
     <label for="phone" style="margin-left: 30px;"><b>Phone</b></label>
    <input type="text" placeholder="0412 123 123" name="phone" id="phone" required  style="width:300px; margin-left:37%; margin-top:-30px;" >

    <div style=" height:24px " ></div>
    <label for="email" style="margin-left: 30px;"><b>Email</b></label>
    <input type="text" placeholder="e.g 123@mail.com" name="email" id="email" required  style="width:300px;margin-left:37%; margin-top: -30px;">

    <div style=" height:24px " ></div>
    <label for="psw" style="margin-left: 30px;"><b>Password</b></label>
    <input type="password" id = "txtPassword" placeholder="Enter Password" name="password" id="psw" required style="width:300px;margin-left: 37%; margin-top: -30px;">
    
    <div style=" height:24px " ></div>
    <label for="psw-repeat" style="margin-left: 30px;"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" id = "txtConfirmPassword" name="psw-repeat" id="psw-repeat" required  onChange="validate();" style="width:300px;margin-left: 37%; margin-top: -30px;">

    <div style=" height:22px " ></div>
    <label for='role' style="margin-left: 30px;"><b>Role</b></label>
    <div class="custom-select" style="font-family:arial;font-size:20px;width:240px;margin-left:48%; margin-top: -30px;">
        <select name='role' id='role'>
          <option value="0">Select the role:</option>
          <option value="senior">Senior</option>
          <option value="carer">Carer</option>
          <option value="provider">Provider</option>
        </select>
    </div>

    <div style=" height:44px " ></div>
    <label for='role' style="margin-left: 30px;"><b>Job Type (Only for Providers)</b></label>
    <div class="custom-select" style="font-family:arial;font-size:20px;width:240px;margin-left:48%; margin-top: -30px;">
      <select name='jobType'>

        <option value="CARE" >Care</option>
        <option value="MEDICATION">Medication</option>
        <option value="COMMUNICATION">Communication</option>
        <option value="ACTIVITY">Activity</option>
        <option value="MEAL">Meal</option>
        <option value="OTHER">Other</option>
      </select>
    </div>

    <div style=" height:44px " ></div>
    <label for='Code' style="margin-left: 30px;"><b>Relation Code</b></label>
    <input type="text" name="relationCode" id='relationCode' placeholder="Required for senior" style="width:240px;margin-left:48%; margin-top: -30px;"><br>

    <hr>
    <input type="checkbox" required> <label style="font-family:arial;font-size:20px;"> I accept the terms and conditions for signing up to this service, and hereby confirm I have read the <a href="#">Terms & Privacy</a>.</label>


    <button type="submit" class="registerbtn" style="text-align: center">Register</button>
  </div>
  
  <div class="container signin">
    <p style="font-family:arial;">Already have an account? <a href="{% url 'getcare:login' %}">Sign in</a>.</p>
  </div>
</form>
<script type="text/javascript">

    function someFunction(){
        return Validate();
    }
    function Validate() {
        var phoneNum = document.getElementById("phone").value;
        var validInput = "1234567890-";
        for (i=0; i<phoneNum.length; i++) {
          if (validInput.indexOf(phoneNum.charAt(i)) == -1) {
              alert("Invalid phone number");
              return false;
          }
        }
        var emailAddr = document.getElementById("email").value;
        if (emailAddr.indexOf("@") == -1) {
            alert("Invalid email address");
            return false;
        }

        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match");
            return false;
        }

        var roleList = document.getElementById("role");
        var roleSelected = roleList.options[roleList.selectedIndex].value;
        var seniorCode = document.getElementById("relationCode").value;
        if (roleSelected == "senior" && seniorCode == ""){
            alert("Please enter your relation code");
            return false;
        }
        return true;
    }

    var x, i, j, l, ll, selElmnt, a, b, c;

x = document.getElementsByClassName("custom-select");
l = x.length;
for (i = 0; i < l; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  ll = selElmnt.length;
  
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 1; j < ll; j++) {
    
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
       
        var y, i, k, s, h, sl, yl;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        sl = s.length;
        h = this.parentNode.previousSibling;
        for (i = 0; i < sl; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            yl = y.length;
            for (k = 0; k < yl; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
      
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
    });
}
function closeAllSelect(elmnt) {

  var x, y, i, xl, yl, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  xl = x.length;
  yl = y.length;
  for (i = 0; i < yl; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < xl; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}
document.addEventListener("click", closeAllSelect);
</script>
</body>
</html>
<!-- sfdjk -->