<!-- 
{% if user %}
    {{Message}}<br>
{% endif %}
<br>
<a href="{% url 'getcare:login'  %}">Log off</a>
<p>Task List</p>
<a href="{% url 'getcare:newtask' user.key %}">Add a New Task</a>
<br><br>
{% if Tasks %}

    {% for task in Tasks %}
        <a href="{% url 'getcare:viewtask' user.key task.id %}">{{ task.title }} -- {{task.start_date}}</a><br>
    {% endfor %}

{% else %}
    <p>No Tasks are available.</p>
{% endif %}
{% if Notes %}

    {% for note in Notes %}
        <a href="{% url 'getcare:viewnote' user.key note.id %}">{{ note.title }} -- {{note.start_date}}</a><br>
    {% endfor %}

{% else %}
    <p>No Notes are available.</p>
{% endif %} -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Bar */
.header {
  overflow: hidden;
  background-color: #ffffff;
  height: 95px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: rgb(152, 108, 235);
  margin-top: 95px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  overflow: hidden;

}
.search input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 120px;
  border: none;
  font-size: 17px;
}
.profile{
  float: right;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 28px;
  margin-right: 30px;
  margin-top: 37px;
}
.profile:hover {
  background-color: rgb(152, 108, 235);
  color: rgb(255, 255, 255);
  font-weight: lighter;
}
.logoff{
  float: right;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 135px;
  margin-top: 37px;
}
.logoff a{
  background-color: #ffffff;
  color: #000000;
}
.logoff a:hover {
  background-color: #ffffff;
  color: rgb(152, 108, 235);
  font-weight: normal;
}


@media screen and (max-width: 600px) {
  .search a, .search input[type=text] {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 50px;
    padding: 14px;
  }
  
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}

/* content */
.button {
  border: none;
  background-color: rgb(152, 108, 235);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin: auto;
  padding: 10px 15px;
  position: absolute;
  right: 160px;
  top: 170px;
}
.button a{
  background-color: rgb(152, 108, 235);
  color: #fff;
}
.button a:hover{
  background-color: rgb(152, 108, 235);
  color: rgb(0, 0, 0);
  font-weight: normal;
}

.buttons {
  border: none;
  cursor: pointer;
  margin: auto;
  position: absolute;
  right: 160px;
  top: 225px;
}

.button-type{
  border: none;
  background-color: white;
  color: rgb(152, 108, 235);
  cursor: pointer;
  margin-left: 5px;
  padding: 6px 11px;
  outline: 1px solid rgb(152, 108, 235);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
}

.button-type:hover{
  background-color: rgb(152, 108, 235);
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 150px;
  width: 80%;

}

table td {
  border-top: 0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 0;
}

table tr:last-child td{
  border-bottom: 0;
}

table tr td:last-child{
  border-right: 0;
}

table tr td:first-child{
  width:420px;
}


td, th {
  border:2px solid #000000;
  text-align: center;
  padding: 0px;
}

td a { 
   display: block; 
   position:static;
   border: 1px solid transparent;
   margin-bottom: -22px;
   padding: 15px; 
}

a:hover{
  background: rgb(152, 108, 235);
  color: black;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #e9f5ef;}

</style>
</head>
<body>


<div class="header">
  <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/getcare2.png' %}" id="logo" height="60px" width="290px" style="position:absolute; left:125px; top:20px"/></a>
  <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/LOGO_01.png' %}" id="logo" height="22px" width="49px" style="position:absolute; left:420px; top:54px"/></a>
  
  <div class="logoff">
    <a href="{% url 'getcare:login' %}">Log Off</a>
  </div> 

  <div class="profile">
    <a href="{% url 'getcare:info' user.key %}"style="font-weight: lighter;">My Profile</a>
  </div> 

</div>

<div class="navbar">
  
  <div class="dropdown">
    <button class="dropbtn"> Tasks 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
      <a href="{% url 'getcare:index' user.key 'COMPLETED' %}">Completed</a>
      <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}">Incomplete</a>
      
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Calendar 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="{% url 'getcare:calendar' user.key 'week' %}">Week View</a>
        <a href="{% url 'getcare:calendar' user.key 'month' %}">Month View</a>

    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Provider 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
      <a href="{% url 'getcare:index' user.key 'CAREPLAN' %}">Care Plan</a>
      <a href="{% url 'getcare:index' user.key 'MEDICATION' %}">Medication</a>
      <a href="{% url 'getcare:index' user.key 'COMMUNICATION' %}">Communication</a>
      <a href="{% url 'getcare:index' user.key 'ACTIVITY' %}">Activity</a>
      <a href="{% url 'getcare:index' user.key 'MEAL' %}">Meal</a>
      <a href="{% url 'getcare:index' user.key 'OTHER' %}">Other</a>
    </div>
  </div> 
  
  <div class="dropdown">
    <button class="dropbtn">Relations 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:viewRelations' user.key %}">Relations</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Task Template 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:templatelist' user.key 'ALL' %}">Task Template</a>
      <a href="{% url 'getcare:templatelistforme' user.key 'ALL' %}">Task For Me Template</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">To-do List 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'getcare:todolist' user.key 'ALL' %}">All</a>
      <a href="{% url 'getcare:todolist' user.key 'COMPLETED' %}">Completed</a>
      <a href="{% url 'getcare:todolist' user.key 'INCOMPLETED' %}">Incomplete</a>
      <a href="{% url 'getcare:todolist' user.key 'CARE' %}">Care Plan</a>
      <a href="{% url 'getcare:todolist' user.key 'MEDICATION' %}">Medication</a>
      <a href="{% url 'getcare:todolist' user.key 'COMMUNICATION' %}">Communication</a>
      <a href="{% url 'getcare:todolist' user.key 'ACTIVITY' %}">Activity</a>
      <a href="{% url 'getcare:todolist' user.key 'MEAL' %}">Meal</a>
      <a href="{% url 'getcare:todolist' user.key 'OTHER' %}">Other</a>
    </div>
  </div> 

  <form action="{% url 'getcare:results' user.key %}" class="search" method="get" >
    {% csrf_token %}
    <input id="search" name="search" type="text" placeholder="Search...">
    <input type="submit" hidden="true">
  </form>

</div>
 <!-- content -->

    <button class="button" >
      <a href="{% url 'getcare:newtemplate' user.key %}" style="text-decoration: none;">+ New Task Template</a>
    </button>

    <div class='buttons'>
      <button id="button-all" class="button-type">All</button>
      <button id="button-care" class="button-type">Care Plan</button>
      <button id="button-medi" class="button-type">Medication</button>
      <button id="button-comm" class="button-type">Communication</button>
      <button id="button-acti" class="button-type">Activity</button>
      <button id="button-meal" class="button-type">Meal</button>
      <button id="button-other" class="button-type">Other</button>
    </div>

    <table style= "margin-top:130px"  >
      <tr>
        <th style="text-align:center;padding:10px;"">Template</th>
        <th style="text-align:center; width:20%">Senior</th>
        <th style="text-align:center; width:28%">Provider</th>
        <!-- <th style="text-align:center">Deadline</th> -->
      </tr>
      {% if Templates %}
        {% for template in Templates %}
          <tr>
          <td style="text-align:center"> 
            <label for="task1"  style="font-size: 18px;"> 
            <a href="{% url 'getcare:viewtemplate' user.key template.id %}" style="text-decoration: none;cursor:pointer;">{{ template.name }}</a><br> </label>
          </td>
          <td style="text-align:center">
            <p for="person" >{{ template.user.firstName}} {{ template.user.lastName}}</p>
          </td>
          <td style="text-align:center">
            <p for="person" >{{ template.provider.firstName}} {{ template.provider.lastName}}</p>
          </td>
          <!-- <td style="text-align:center"> -->
            <!-- <p for="timestamp" class="time"> {{task.start_date}} </p> -->
          <!-- </td>     -->
          </tr>
        {% endfor %}
      {% else %}
          <p>No Templates are available.</p>
      {% endif %}

    </table>
    <script type="text/javascript">
      var btnIDs = ['button-all', 'button-care', 'button-medi', 'button-comm', 'button-acti', 'button-meal', 'button-other'];
      var names = ['ALL', 'CARE', 'MEDICATION', 'COMMUNICATION', 'ACTIVITY', 'MEAL', 'OTHER'];
      var map = new Map();
      for (let i=0; i<names.length; i++) {
        map.set(names[i], btnIDs[i]);
      }
      for (let btnid of btnIDs) {
        document.getElementById(btnid).onclick = selectButton;
      }

      var pn = window.location.pathname;
      var type = pn.substring(pn.lastIndexOf('/')+1);
      document.getElementById(map.get(type)).style.backgroundColor = 'rgb(152, 108, 235)';
      document.getElementById(map.get(type)).style.color = '#fff';

    function selectButton(){
      for (let [key, value] of map.entries()) {
        if (value == this.id) {
          var string = pn.substring(0, pn.lastIndexOf('/')+1) + key;
          window.location = string;
          break;
        }
      }
    }
    </script>
</body>
</html>
