{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
     /* Bar */
.header {
  overflow: hidden;
  background-color: #ffffff;
  height: 95px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: rgb(101,61,176);
  margin-top: 95px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  overflow: hidden;

}
.search input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 120px;
  border: none;
  font-size: 17px;
}
.profile{
  float: right;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 28px;
  margin-right: 30px;
  margin-top: 37px;
}
.profile:hover {
  background-color: rgb(101,61,176);
  color: rgb(255, 255, 255);
}
.logoff{
  float: right;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 135px;
  margin-top: 37px;
}
.logoff a{
  background-color: #ffffff;
  color: #000000;
}
.logoff a:hover {
  background-color: #ffffff;
  color: rgb(101,61,176);
}


@media screen and (max-width: 600px) {
  .search a, .search input[type=text] {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 50px;
    padding: 14px;
  }
  
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}

.todo-detail{
    font-size: 34px;
        text-align: left;
        margin-top:170px;
        margin-left: 21%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      font-weight: bold;
    }
    .todo-title{
        text-align: left;
        margin-top:220px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .todo-task{
        text-align: left;
        margin-top:270px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .todo-date{
        margin-top:320px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }
    
    .todo-input{
        margin-top:370px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
       
    }
    .todo-submit{
      margin-top:380px;
      margin-left: 2%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      height: 20px;
    }

    .todo-back{
      background-color: black;
      margin-top:380px;
      margin-left: 78.5%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      height: 20px;
    }

    .todo-date .date-control{
      float:left;
      width:60%
    }

    .todo-date .time-control{
      float:right
    }
    bottom_button {
      background-color: rgb(152, 108, 235);
      text-align: center;
      color: white;
      padding: 10px 10px;
      cursor: pointer;
      width: 100px;
      border-radius: 8px;
    }

    bottom_button:hover {
      opacity: 0.8;
    }
        body {font-family: Arial, Helvetica, sans-serif;}
        body {text-align: center} 
        
    </style>
</head>
<body>
  <div class="header">
    <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/getcare2.png' %}" id="logo" height="60px" width="290px" style="position:absolute; left:125px; top:20px"/></a>
    <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/LOGO_01.png' %}" id="logo" height="22px" width="49px" style="position:absolute; left:420px; top:54px"/></a>
    
    <div class="logoff">
      <a href="{% url 'getcare:login' %}">Log Off</a>
    </div> 
  
    <div class="profile">
      <a href="{% url 'getcare:info' user.key %}">My Profile</a>
    </div> 
  
  </div>
  
  <div class="navbar">
    
    <div class="dropdown">
      <button class="dropbtn"> Tasks 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:index' user.key 'COMPLETED' %}">Completed</a>
        <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}">Incomplete</a>
        
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Calendar 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
          <a href="{% url 'getcare:calendar' user.key 'week' %}">Week View</a>
          <a href="{% url 'getcare:calendar' user.key 'month' %}">Month View</a>
  
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Provider 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:index' user.key 'CAREPLAN' %}">Care Plan</a>
        <a href="{% url 'getcare:index' user.key 'MEDICATION' %}">Medication</a>
        <a href="{% url 'getcare:index' user.key 'COMMUNICATION' %}">Communication</a>
        <a href="{% url 'getcare:index' user.key 'ACTIVITY' %}">Activity</a>
        <a href="{% url 'getcare:index' user.key 'MEAL' %}">Meal</a>
        <a href="{% url 'getcare:index' user.key 'OTHER' %}">Other</a>
      </div>
    </div> 
    
    <div class="dropdown">
      <button class="dropbtn">Relations 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:viewRelations' user.key %}">Relations</a>
      </div>
    </div> 

    <div class="dropdown">
      <button class="dropbtn">Task Template 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:templatelist' user.key 'ALL' %}">Task Template</a>
        <a href="{% url 'getcare:templatelistforme' user.key 'ALL' %}">Task For Me Template</a>
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">To-do List 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:todolist' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:todolist' user.key 'COMPLETED' %}">Completed</a>
        <a href="{% url 'getcare:todolist' user.key 'INCOMPLETED' %}">Incomplete</a>
        <a href="{% url 'getcare:todolist' user.key 'CARE' %}">Care Plan</a>
        <a href="{% url 'getcare:todolist' user.key 'MEDICATION' %}">Medication</a>
        <a href="{% url 'getcare:todolist' user.key 'COMMUNICATION' %}">Communication</a>
        <a href="{% url 'getcare:todolist' user.key 'ACTIVITY' %}">Activity</a>
        <a href="{% url 'getcare:todolist' user.key 'MEAL' %}">Meal</a>
        <a href="{% url 'getcare:todolist' user.key 'OTHER' %}">Other</a>
      </div>
    </div> 
  
    <form action="{% url 'getcare:results' user.key %}" class="search" method="get" >
      {% csrf_token %}
      <input id="search" name="search" type="text" placeholder="Search...">
      <input type="submit" hidden="true">
    </form>
  
  </div>
   <!-- content -->
    
        <form action="{% url 'getcare:viewtodo' user.key todo.id %}" method="post">
          {% csrf_token %}
          <div class = "todo-detail" style="height: 25px; width: 60%;">Todo details</div>
          <div class = "todo-title" style="height: 25px; width: 60%;">
              <label for='title' style="margin-left: 16px;">Todo Title</label>
              <input type="text" name="title" value= "{{todo.title}}" style="background-color:#ddd; border: none;margin-left: 14px;width: 80%; height: 26px;border-radius: 8px;"><br>
          </div>
          <div class = "todo-task" style="height: 25px; width: 60%;">
              <label for='task' style="margin-left: 16px;">Todo Task</label>
              {% if todo.relatedTask %}
                <button name="task"  style="background-color:#ddd; border: none;margin-left: 14px;width: 80%; height: 26px;border-radius: 8px;">
                  <a href="{% url 'getcare:viewtask' user.key todo.relatedTask.id %}">{{todo.relatedTask.title}}</a>
                </button>
                <!-- <input type="text" name="task" value= "{{todo.relatedTask.title}}" style="background-color:#ddd; border: none;margin-left: 14px;width: 80%; height: 26px;" readonly> -->
              <br>
              {% else %}
              <input type="text" name="task" value= "{{todo.classTodo}}" style="background-color:#ddd; border: none;margin-left: 14px;width: 80%; height: 26px;border-radius: 8px;" disabled>
              {% endif %}
          </div>

            <div class="todo-date" style="text-align: left;width: 60%;">
              <div class= "date-control" >
                <label for='date' style="margin-left: 16px;">Todo Date</label>
                <input type="date" name="date" style="background-color:#ddd; border: none; height:26px;margin-left: 12px;text-align: left; width: 27%;border-radius: 8px;" value={{todo.start_date|date:"c"}}><br>
             
                <br>
                <label for='date' style="margin-left: 16px;">Todo Time</label>
                <input type="time" name="time" style="background-color:#ddd; border: none;  height:26px;margin-left: 12px;text-align: left; width: 27%;border-radius: 8px;" value={{todo.start_time|date:"c"}}><br>
              </div>  
               
                <label style="margin-left: 170px;">Finished</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="finish" value="finished" s><br>
                <br> 
                <label style="margin-left: 170px;">Delete?</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="delete" value="deleted" ><br>
                <br> 
                <br>
                <br>

              <label for='detail' style="margin-left: 16px; margin-top:20px;">Todo Details</label>
                <textarea rows=30% cols=100% name="detail" style="background-color:#ddd; border: none;margin-top: 10px;margin-left: 14px;text-align: left;width: 90%;height: 40%;border-radius: 8px;">{{todo.detail}}</textarea><br>
                <input type="submit" value="Submit" class = "todo-submit" style=" background-color: rgb(152, 108, 235); text-align: center; color: white; width: 120px; height: 40px; border-radius: 8px; cursor: pointer; border:none; font-size: 16px;"></input>
                <button class = "todo-back" style="width: 120px; height: 40px;border-radius: 8px; cursor: pointer; border:none; font-size: 16px;"><a href="{% url 'getcare:index' user.key 'ALL' %}" style="text-decoration: none; color: white;">Back</a></button>
                <div style=" height:150px " ></div>
              </div>
          </form>
            


</body>
</html>


