{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
/* Bar */
.header {
  overflow: hidden;
  background-color: #ffffff;
  height: 95px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: #6DCCA3;
  margin-top: 95px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  overflow: hidden;

}
.search input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 120px;
  border: none;
  font-size: 17px;
}
.profile{
  float: right;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 28px;
  margin-right: 30px;
  margin-top: 37px;
}
.profile:hover {
  background-color: #6DCCA3;
  color: rgb(255, 255, 255);
}
.logoff{
  float: right;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 135px;
  margin-top: 37px;
}
.logoff a{
  background-color: #ffffff;
  color: #000000;
}
.logoff a:hover {
  background-color: #ffffff;
  color: #6DCCA3;
}


@media screen and (max-width: 600px) {
  .search a, .search input[type=text] {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 50px;
    padding: 14px;
  }
  
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}

  body {font-family: Arial, Helvetica, sans-serif;
  }
  body {text-align: center
  } 
  
  .new-task{
    
    font-size: 40px;
        text-align: center;
        margin-top:200px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      font-weight: bold;
    }

    .template-name{
    text-align: left;
        margin-top:300px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
      
    }

  .task-title{
    text-align: left;
        margin-top:370px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
      
    }

    .custom-select{
      
        margin-top:440px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .custom-select-frequency{
      margin-top:510px;
      margin-left: 20%;
      position: absolute;
      top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

    .task-date{
        margin-top:580px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .task-input{
        margin-top:650px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }
    .task-submit{
      margin-top:330px;
      margin-left: 27%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      height: 40px;
      width: 90px;
    }

    .task-delete{
      margin-top:330px;
      margin-left: 46%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      height: 40px;
      width: 90px;
    }

    .task-back{
      margin-top:330px;
      margin-left: 79.5%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      height: 40px;
      width: 90px;
    }

    .task-upload{
      margin-top:1120px;
      margin-left: 23%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 250;
      bottom: 0;
      height: 40px;
      width: 90px;
    }

    </style>
        
</head>
<body>
  <div class="header">
    <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/getcare2.png' %}" id="logo" height="60px" width="290px" style="position:absolute; left:125px; top:20px"/></a>
    <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/LOGO_01.png' %}" id="logo" height="22px" width="49px" style="position:absolute; left:420px; top:54px"/></a>
    
    <div class="logoff">
      <a href="{% url 'getcare:login' %}">Log Off</a>
    </div> 
  
    <div class="profile">
      <a href="{% url 'getcare:info' user.key %}">My Profile</a>
    </div> 
  
  </div>
  
  <div class="navbar">
    
    <div class="dropdown">
      <button class="dropbtn"> Tasks 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:index' user.key 'COMPLETED' %}">Completed</a>
        <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}">Incomplete</a>
        
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Calendar 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
          <a href="{% url 'getcare:calendar' user.key 'week' %}">Week View</a>
          <a href="{% url 'getcare:calendar' user.key 'month' %}">Month View</a>
  
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Provider 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:index' user.key 'CAREPLAN' %}">Care Plan</a>
        <a href="{% url 'getcare:index' user.key 'MEDICATION' %}">Medication</a>
        <a href="{% url 'getcare:index' user.key 'COMMUNICATION' %}">Communication</a>
        <a href="{% url 'getcare:index' user.key 'ACTIVITY' %}">Activity</a>
        <a href="{% url 'getcare:index' user.key 'MEAL' %}">Meal</a>
        <a href="{% url 'getcare:index' user.key 'OTHER' %}">Other</a>
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Relations 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:viewRelations' user.key %}">Relations</a>
  
      </div>
    </div> 

    <div class="dropdown">
      <button class="dropbtn">Task Template 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:templatelist' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:templatelist' user.key 'CARE' %}">Care Plan</a>
        <a href="{% url 'getcare:templatelist' user.key 'MEDICATION' %}">Medication</a>
        <a href="{% url 'getcare:templatelist' user.key 'COMMUNICATION' %}">Communication</a>
        <a href="{% url 'getcare:templatelist' user.key 'ACTIVITY' %}">Activity</a>
        <a href="{% url 'getcare:templatelist' user.key 'MEAL' %}">Meal</a>
        <a href="{% url 'getcare:templatelist' user.key 'OTHER' %}">Other</a>
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">To-do List 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:todolist' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:todolist' user.key 'COMPLETED' %}">Completed</a>
        <a href="{% url 'getcare:todolist' user.key 'INCOMPLETED' %}">Incomplete</a>
        <a href="{% url 'getcare:todolist' user.key 'CARE' %}">Care Plan</a>
        <a href="{% url 'getcare:todolist' user.key 'MEDICATION' %}">Medication</a>
        <a href="{% url 'getcare:todolist' user.key 'COMMUNICATION' %}">Communication</a>
        <a href="{% url 'getcare:todolist' user.key 'ACTIVITY' %}">Activity</a>
        <a href="{% url 'getcare:todolist' user.key 'MEAL' %}">Meal</a>
        <a href="{% url 'getcare:todolist' user.key 'OTHER' %}">Other</a>
      </div>
    </div> 
  
    <form action="{% url 'getcare:results' user.key %}" class="search" method="get" >
      {% csrf_token %}
      <input id="search" name="search" type="text" placeholder="Search...">
      <input type="submit" hidden="true">
    </form>
  
  </div>
  

    <!-- <div>
        <label tyle="margin-left: 14px; font-size:40px">New Task</label>
        </div> -->
      <!-- <h1>New Task</h1> -->
      <form action="{% url 'getcare:viewtemplate' user.key template.id %}" method="post">
        {% csrf_token %}
          <!-- <h1>New Task</h1> -->
        <div class = "new-task" style="height: 30px; width: 60%;">Task Template Details</div>

        <div class = "template-name" style="height: 30px; width: 70%;text-align: left;">
          <label for='name' style="margin-left: 25px;text-align: left;">Template Name</label>  
          <input type="text" style="width:46%;height:30px; margin-left: 36px;text-align: left;background-color:#ddd;border-radius: 8px;border-width: 1px;" name="name" value= "{{template.name}}"><br>
        </div>
        

        <div class = "task-title" style="height: 30px; width: 70%;text-align: left;">
          <label for='title' style="margin-left: 25px;text-align: left;">Task Title</label>  
          <input type="text" style="width:46%;height:30px; margin-left: 82px;text-align: left;background-color:#ddd; border-radius: 8px;border-width: 1px;" name="title" value= "{{template.title}}"><br>
        </div>

        <div class="custom-select" id = "task-type" style="text-align: left;width: 70%;height: 30px;">
          <label for='type' style="margin-left: 25px;">Task Type</label> 
          <select  style="width:46%;height:35px; margin-left: 78px;background-color:#ddd;  border-radius: 8px; border-width: 1px; " id="id-classTask" name = "classTask" required>
            {% if relations %}
              {% for relation in relations %}
              <option value="{{relation.provider.id}}">{{relation.provider.firstName}} {{relation.provider.lastName}} -- {{relation.provider.jobType}}</option> <!-- value should be provider -->
              {% endfor %}
            {% else %}
            <option value="">You have no providers. Please add a provider</option>
            {% endif %}
          </select>
        </div>

        <div class="custom-select-frequency" id = "task-frequency" style="text-align: left;width: 70%;height: 30px;">
          <label for='type' style="margin-left: 25px;">Task Frequency</label> 
          <select  style="width:46%;height:35px; margin-left: 37px;background-color:#ddd; border-width: 1px; border-radius: 8px;" id="id-task-frequency" name="task-frequency" required>
            <option value="Once">One Time</option>
            <option value="Week">Weekly</option>
            <option value="Month">Monthly</option>
          </select>
        </div>

        <div class="task-date"  style="text-align: left;width: 70%;">
        <label for='date' style="margin-left: 25px;">Task Time</label>
        <input type="time" name="time" value="{{template.start_time|date:"c"}}" style="background-color:#ddd;  border-width: 1px; height:35px;margin-left: 80px;text-align: left; width:46%;border-radius: 8px;"><br>
        </div>

        <div class="task-input"  style="text-align: left; width: 46%;">
          <label for='detail' style="margin-left: 25px; ">Task Details</label>
          <textarea rows=30% cols=100% name="detail" style="background-color:#ddd; margin-top: -20px;margin-left: 180px;text-align: left;width: 70%;height: 300px;border-radius: 8px;border-width: 1px;">{{template.detail}}</textarea><br>
        
          <button type="submit" name="button" value="submit" class="task-submit" style=" background-color: #6DCCA3; text-align: center; color: white; width: 120px; height: 40px; border-radius: 8px; cursor: pointer; border:none; font-size: 16px;">Submit</button>
        
          <button type="submit" name="button" value="delete" class="task-delete" style=" background-color: #929c98; text-align: center; color: white; width: 120px; height: 40px; border-radius: 8px; cursor: pointer; border:none; font-size: 16px;">Delete</button>
        
          <button type="button" class="task-back" onclick="history.back()" style=" background-color: black; text-align: center; color: white; width: 120px; height: 40px; border-radius: 8px; cursor: pointer; border:none; font-size: 16px;">Back</button>
          <div style=" height:150px " ></div>
        </div>
      </form>

      <script type="text/javascript">
       window.onload = function() {
         var providerSelect = document.getElementById('id-classTask');
         providerSelect.value = "{{template.provider.id}}";

         var frequencySelect = document.getElementById('id-task-frequency');
         frequencySelect.selectedIndex = "{{template.frequency}}";

       }
      </script>
</body>
</html>