{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    /* Bar */
    .header {
  overflow: hidden;
  background-color: #ffffff;
  height: 95px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: rgb(89,171,225);
  margin-top: 95px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  overflow: hidden;

}
.search input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 120px;
  border: none;
  font-size: 17px;
}
.profile{
  float: right;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 28px;
  margin-right: 30px;
  margin-top: 37px;
}
.profile:hover {
  background-color: rgb(89,171,225);
  color: rgb(255, 255, 255);
}
.logoff{
  float: right;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 135px;
  margin-top: 37px;
}
.logoff a{
  background-color: #ffffff;
  color: #000000;
}
.logoff a:hover {
  background-color: #ffffff;
  color: rgb(89,171,225);
}


@media screen and (max-width: 600px) {
  .search a, .search input[type=text] {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 50px;
    padding: 14px;
  }
  
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}


  body {font-family: Arial, Helvetica, sans-serif;}
  body {text-align: center} 
  
  .new-task{
    font-size: 36px;
        text-align: left;
        margin-top:70px;
        margin-left: 20.5%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      font-weight: bold;
    }
  .task-title{
        text-align: left;
        margin-top:120px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .custom-select{
        margin-top:180px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .task-date{
        margin-top:230px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }

    .task-input{
        margin-top:280px;
        margin-left: 20%;
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }
    .task-submit{
      margin-top:800px;
      margin-left: 21%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 0;
      bottom: 0;
      height: 20px;
    }
    .task-upload{
      margin-top:900px;
      margin-left: 21%;
      position: absolute;
      top: 0;
	    left: 0;
	    right: 250;
      bottom: 0;
      height: 20px;
    }

.grid-container {
  margin:auto;
  width: 70%;
  margin-top: 3%;
  display: grid;
  grid-template-columns:repeat(auto-fill, 170px);
  background-color: rgb(89,171,225);
  padding: 10px;
  grid-gap:15px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  width:175px;
  height:175px;
  font-size: 15px;
  text-align: center;
}
.alterrelation {
  width: 250px;
  clear: both;
  margin: auto;
}

.alterrelation input {
  width: 100%;
  clear: both;
}

    </style>
        
</head>
<body>
  <div class="header">
    <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/getcare2.png' %}" id="logo" height="60px" width="290px" style="position:absolute; left:125px; top:20px"/></a>
    <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}"><img src="{% static 'getcareapp/LOGO_01.png' %}" id="logo" height="22px" width="49px" style="position:absolute; left:420px; top:54px"/></a>
    
    <div class="logoff">
      <a href="{% url 'getcare:login' %}">Log Off</a>
    </div> 
  
    <div class="profile">
      <a href="{% url 'getcare:info' user.key %}">My Profile</a>
    </div> 
  
  </div>
  
  <div class="navbar">
    
    <div class="dropdown">
      <button class="dropbtn"> Tasks 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:index' user.key 'COMPLETED' %}">Completed</a>
        <a href="{% url 'getcare:index' user.key 'INCOMPLETED' %}">Incomplete</a>
        
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Calendar 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
          <a href="{% url 'getcare:calendar' user.key 'week' %}">Week View</a>
          <a href="{% url 'getcare:calendar' user.key 'month' %}">Month View</a>
  
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">Provider 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:index' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:index' user.key 'CAREPLAN' %}">Care Plan</a>
        <a href="{% url 'getcare:index' user.key 'MEDICATION' %}">Medication</a>
        <a href="{% url 'getcare:index' user.key 'COMMUNICATION' %}">Communication</a>
        <a href="{% url 'getcare:index' user.key 'ACTIVITY' %}">Activity</a>
        <a href="{% url 'getcare:index' user.key 'MEAL' %}">Meal</a>
        <a href="{% url 'getcare:index' user.key 'OTHER' %}">Other</a>
      </div>
    </div> 
    
    <div class="dropdown">
      <button class="dropbtn">Relations 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:viewRelations' user.key %}">Relations</a>
      </div>
    </div> 

    <div class="dropdown">
      <button class="dropbtn">Task Template 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:templatelist' user.key 'ALL' %}">Task Template</a>
      </div>
    </div> 
  
    <div class="dropdown">
      <button class="dropbtn">To-do List 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'getcare:todolist' user.key 'ALL' %}">All</a>
        <a href="{% url 'getcare:todolist' user.key 'COMPLETED' %}">Completed</a>
        <a href="{% url 'getcare:todolist' user.key 'INCOMPLETED' %}">Incomplete</a>
      </div>
    </div> 
  
    <form action="{% url 'getcare:results' user.key %}" class="search" method="get" >
      {% csrf_token %}
      <input id="search" name="search" type="text" placeholder="Search...">
      <input type="submit" hidden="true">
    </form>
  
  </div>
   <!-- content -->

   
      <div class="grid-container">
        {% if Relationships1 %}
            {% for relationship in Relationships1 %}
            <div class="grid-item">
                <div class="provider names">
                    <p for="person" >{{ relationship.carer.firstName}} {{ relationship.carer.lastName}}</p>
                    <p for="phoneNumber">Phone Number: {{relationship.carer.phone}}</p>
                    <p for="code">Relation Code: {{ relationship.carer.relation_code }}</p>


                </div>
            </div>
            {% endfor %}
        {% else %}
          <p>You have no relations with providers</p>
      {% endif %}

      </div>
      <br>
      <br>
     <div class="grid-container">
        {% if Relationships2 %}
            {% for relationship in Relationships2 %}
            <div class="grid-item">
                <div class="provider names">
                    <p for="person" >{{ relationship.senior.firstName}} {{ relationship.senior.lastName}}</p>
                    <p for="code">Relation Code: {{ relationship.senior.relation_code }}</p>
                    <p for="phoneNumber">Phone Number: {{relationship.senior.phone}}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
          <p>You have no relations with carers</p>
      {% endif %}

      </div>
      <br>
      <br>
      <div class="alterrelation">
        <form method="post" enctype="multipart/form-data" action="{% url 'getcare:addRelation' user.key %}">
          {% csrf_token %}
          <br>
          Specify the action you wish to task <br><br>
          <input type="radio" id="add" name="addorremove" value="add" required>
          <label for="add">Add a User</label><br><br>
          <input type="radio" id="remove" name="addorremove" value="remove" required>
          <label for="remove">Remove a User</label><br><br>
          Specify the kind of user
          <br><br>
          <select name="usertype" id="usertype">
              <option value="carer">Carer</option>
              <option value="user">Senior</option>
          </select>
          <br><br>
          and enter the relation code below
          <br><br>
          <input type="text" name= relationcode id="relationcode"style="height: 30px; border-radius: 8px; border-width: 1px;"><br>
          <div style=" height:20px " ></div>
          <input type="submit" name="submit" id="submitrelationcode" style="background-color: rgb(89,171,225); text-align: center; color: white; width: 120px; height: 40px; border-radius: 8px; cursor: pointer; border:none; font-size: 16px;">
       </form>
       <br>
        <div id="back"><button type="button" onclick="history.back()" style="background-color: black; text-align: center; color: white; width: 120px; height: 40px; border-radius: 8px; cursor: pointer; border:none; font-size: 16px; ">Back</button></div>
        <div style=" height:100px " ></div>
      </div>
    </aside> 
    <!-- side navbar -->
  

    <!-- <div>
        <label tyle="margin-left: 14px; font-size:40px">New Task</label>
        </div> -->
      <!-- <h1>New Task</h1> -->

</body>
</html>